@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.logo {
  max-width: 100%;
  height: 35px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em blue);
}

a {
  text-decoration: none;
  font-size: 0.875rem;
}

p {
  font-size: 0.875rem;
  margin: auto;
}

span {
  font-size: 0.875rem;
}

h1 {
  font-weight: 500;
  font-size: 3rem;
  color: #ff6000;
  margin: 10px 0;
}

h2 {
  font-size: 2rem;
}

.active {
  fonts-weight: 600;
  color: #00a97f !important;
}

/* Header start */

.header-top-strip {
  background-color: #dfece4;
}

.header-upper {
  background-color: #cbd6cf !important;
}

.form-control {
  font-size: 0.875rem;
}

.input-group {
  max-width: 264px;
  margin-top: 5px;
}

.input-group a {
  transition: 0.5s ease;
}

.input-group a:hover {
  color: #ff6000;
}

.input-group-text {
  background-color: #cbd6cf;
}

.nav-links a {
  font-size: 0.875rem;
  color: black;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: #535bf2;
}

.nav-links-nav a {
  color: rgba(234, 157, 90, 255);
}

.nav-links-nav a:hover {
  color: #535bf2;
}

.totalItems {
  display: block;
  width: 20px;
  border-radius: 100%;
  background-color: rgb(165, 42, 42, 0.8);
  position: absolute;
  top: -7px;
  left: 27px;
}

@media only screen and (max-width: 768px) {
  .logo {
    margin-left: 50px;
  }

  .header-tel {
    display: none;
  }

  .input-group {
    max-width: 334px;
    margin-top: 5px;
  }

  .nav-links-nav {
    display: flex;
    position: absolute;
    top: 18px;
    left: 10px;
  }

  .nav-links-nav a svg {
    font-size: 2rem;
    color: #2b3d4c;
  }

  .nav-links-nav a p {
    display: none;
  }

  .nav-links-nav a .totalItems {
    display: block;
    color: #2b3d4c;
  }
}

/* Header end */

/* Footer start */

.footer {
  background-color: #fff;
}

.footer-detail p a {
  color: #cca27e;
}

.footer-detail div a {
  color: #cca27e;
  font-size: 1.25rem;
}

.footer-detail div a:hover {
  color: #ff6000;
}

.footer-detail a {
  color: black;
}

.footer-detail a:hover {
  color: #ff6000;
}

.footer-detail img {
  display: block;
  border-radius: 10px;
  border: 1px solid #00a97f;
  transition: 0.5s ease;
}

.footer-detail img:hover {
  transform: translateY(-10px);
}

.footer .footer-title {
  border-bottom: 2px solid #cca27e;
  width: 35%;
}

/* Footer end */

/* Home start */

.banner-detail {
  background: url("./assets/imgs/banner-bg.jpg");
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
}

.banner-detail span {
  font-size: 0.8rem;
  font-weight: 400;
}

.button-link {
  width: 10%;
  border-radius: 10px;
  font-size: 1rem;
  padding: 12px 20px;
  background-color: #2b3d4c;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.button-link:hover {
  background-color: transparent;
  border: 1px solid #2b3d4c;
  color: #2b3d4c;
}

.hero-detail img {
  width: 75%;
  height: 50px;
}

.hero-detail p {
  font-size: 0.8rem;
}

.repair {
  margin: 100px 0;
}

.repair .repair-detail {
  background: url("./assets/imgs/bg-home.jpg");
  background-size: cover;
  width: 100%;
  height: 30vh;
  background-position: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.repair .repair-detail button {
  color: #fff;
  background-color: rgb(234 157 90);
  border: 1px solid transparent;
  transition: 0.5s ease;
  padding: 12px 10px;
  font-size: 0.8rem;
  border-radius: 10px;
}

.repair .repair-detail button:hover {
  border: 1px solid #cca27e;
  background-color: transparent;
}

.deals {
  margin: 80px 0;
}

.deals button {
  color: #fff;
  background-color: rgb(234 157 90);
  border: 1px solid transparent;
  transition: 0.5s ease;
  padding: 12px 10px;
  font-size: 0.8rem;
  border-radius: 10px;
}

.deals button:hover {
  background: transparent;
  color: #ff6000;
  border: 1px solid rgb(234 157 90);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .banner-detail {
    margin: auto;
    width: 95%;
    height: 40vh;
    background-position: center;
    padding: 50px;
    align-items: center;
    text-align: center;
  }

  .banner-detail span {
    color: #094170;
  }

  .button-link {
    width: auto;
  }

  .hero-detail {
    flex-wrap: wrap;
  }

  .hero-detail .card {
    width: 45%;
    margin-bottom: 18px;
    height: auto;
  }

  .hero-detail p {
    font-size: 0.7rem;
  }

  .repair .repair-detail {
    width: 95%;
    margin: auto;
  }
}

/* Home end */

/* Feature Products start */

.featureProducts .card {
  border-radius: 20px;
  transition: 0.5s ease;
  max-width: 250px;
  padding: 12px 10px;
  overflow: hidden;
}

.featureProducts .card:hover {
  box-shadow: 10px 10px 20px #00000014;
}

.featureProducts .card img {
  border-radius: 20px;
  max-width: 100%;
  max-height: 220px;
}

.featureProducts .card .card-text {
  text-transform: lowercase;
  color: #cca27e;
  font-size: 0.8rem;
}

.featureProducts .card h6 {
  font-size: 1.1rem;
}

.featureProducts .card .card-footer .price {
  color: rgb(234 157 90);
  font-size: 0.865rem;
}

/* Featuer Products end */

/* Blog start */

.blog-card img {
  border: 1px;
}

.blog-card a {
  font-size: 0.8rem;
  transition: 0.5s;
  border: 1px solid transparent;
}

.blog-card a:hover {
  background: transparent;
  color: #ff6000;
  border: 1px solid rgb(234 157 90);
}

/* Blog end */

/* Sign Up start */

.sign-up {
  background-color: #dfece4;
}

.sign-up div.input-group {
  max-width: 100%;
}

.sign-up input {
  padding: 13px;
}

.sign-up button {
  border: 1px solid #dee2e6;
}

.sign-up button:hover {
  color: #ff6000;
}

/* Sign Up end */

/* Shop start */

.banner-shop {
  background: url("./assets/imgs/shopBanner.jpg");
  background-size: cover;
  width: 100%;
  height: 30vh;
  background-position: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.shop-products .card {
  border-radius: 20px;
  transition: 0.5s ease;
  max-width: 265px;
  padding: 12px 10px;
  overflow: hidden;
  margin-bottom: 16px;
}

.shop-products .card h6 {
  height: 30px;
}

.shop-products .card:hover {
  box-shadow: 10px 10px 20px #00000014;
}

.shop-products .card img {
  border-radius: 20px;
  max-width: 100%;
  height: 240px;
}

.shop-products .card span {
  text-transform: lowercase;
  color: #cca27e;
  font-size: 0.7rem;
}

.shop-products .card p {
  color: #00a97f;
  font-size: 0.875rem;
}

.shop-products .card a p:hover {
  opacity: 0.5;
}

.shop-products .card button {
  width: 60%;
  background: #354d61;
  color: #fff;
  padding: 12px 10px;
  font-size: 0.8rem;
  border-radius: 10px;
  border: 1px solid #cbd6cf;
  white-space: nowrap;
}

.pagination .page-item {
  padding: 0 8px;
}

.paginate .page-link {
  font-size: 18px;
  padding: 0 8px;
  color: #cca27e;
  transition: 0.5s ease;
}

/* Shop end */

/* Cart start */

.empty {
  align-items: center;
  justify-content: center;
  background-color: #dfece4;
  color: #00a97f;
  min-height: 300px;
}

.cart {
  background-color: #dfece4;
}

.cart-item {
  background-color: white;
  border-radius: 0.375rem;
  border: 1px solid rgb(0 0 0 / 18%);
}

.cart-item img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 0.375rem;
}

.cart-item-detail p {
  color: #999;
  font-size: 0.75rem;
}

.cart-item-detail p b {
  color: #00aca8;
}

.cart-item-edit button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-size: 1rem;
  padding: 5px 10px;
}

.cart-item-edit button:hover {
  background-color: transparent;
  border: 1px solid #2b3d4c;
  color: #2b3d4c;
}

.cart-item-edit .delete-button {
  font-size: 1rem;
  padding: 12px 24px;
  background-color: #2b3d4c;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.cart-item-edit input {
  width: 10%;
  border: none;
  border-radius: 0.375rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.cart-item .input-group .form-control {
  font-size: 0.85rem;
  width: 100%;
}

.clearCart button {
  background-color: transparent;
  border: none;
  color: #535bf2;
  padding: 0;
  transition: 0.5s ease;
}

.clearCart button:hover {
  color: red;
}

.cart-end a {
  border-radius: 10px;
  font-size: 1rem;
  padding: 12px 24px;
  background-color: #2b3d4c;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.cart-end a:hover {
  background-color: transparent;
  border: 1px solid #2b3d4c;
  color: #2b3d4c;
}

/* Cart end */

/* Detail start */

.detail {
  margin: 100px 0;
}

.detail .detail-text p {
  font-size: 0.75rem;
  max-width: 80%;
  margin: inherit;
}

.detail .other img {
  max-width: 95px;
}

.detail-edit input {
  width: 40%;
}

.detail-text .button-link {
  width: auto;
}

.other div {
  margin: auto;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.detail .other h5 {
  color: #00a97f;
}

.detail .other span {
  font-size: 0.75rem;
}

/* Detail end */

/* Blog start */

.banner-blog {
  background: url("./assets/imgs/blogBanner.jpg");
  background-size: cover;
  background-position: center;
}

.blog-customers .card {
}

.blog-customers .blog-img {
  width: 16rem;
  height: 18rem;
}

@media only screen and (max-width: 768px) {
  .blog-customers .col-md-4 {
    text-align: center;
  }

  .blog-customers img {
    border-radius: 0.375rem;
  }
}

/* Blog end */
